:root {
    --color-background: #FDFDF1;
}

body {
    background-color: var(--color-background);
    font-family: 'Montserrat', sans-serif;
    padding: 20px 80px;
}

body .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

body p:last-child{
    margin-top: 10px;
}

code {
    font-family: 'Montserrat', sans-serif;
}