:root {
    --color-background: #FDFDF1;
}

body {
    background-color: var(--color-background);
    font-family: 'Montserrat', sans-serif;
    padding: 0 5vw 0 5vw;
    margin-top: 20px;
    align-items: center;
}

body .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

body p + p{
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

body table .table-head {
    font-size: 50px;
    font-weight: bold;
}

hr.solid {
    border-top: 2px solid #bbb;
}

code {
    font-family: 'Montserrat', sans-serif;
}